body{

    color:black;
    background-image: url("123.jfif.jfif");
    background-repeat: no-repeat;
    background-size: cover;

    font-size: 20px;
    text-align: end;
 { width: 100px; height: 100px;

}


}


div {

    color:black;
    font-size: 20px;
    text-align: canto;
 { width: 100px; height: 100px;


}